.skill-content-item{
    display: grid;
    align-items: center;
    grid-template-columns: 30px auto;
    margin: 10px;
    >i{
        color: var(--background-solid);
        margin: 0;
        grid-column: 1/2;
        font-size: 30px;
        height: auto;
    }
    >svg{
        fill: var(--background-solid);
        margin: 0;
        grid-column: 1/2;
        aspect-ratio: 1/1;
        width: 100%;
    }
    div{
        grid-column: 2/3;
        margin-left: 10px;
        i{
            margin-bottom: 0;
        }
    }
    @media (max-width:400px) {
        
    }
}