@import "scss/services.scss";
@import "scss/navBar.scss";
@import "./scss/dropDown.scss";
@import "./scss/skillItem.scss";
@import "scss/skillSection.scss";
@import "scss/homeSection.scss";
@import"scss/portfolio.scss";
%icon{
    color:var(--background-solid);
    margin-bottom: 0;
}
:root{
    --background:rgb(31, 49, 81);
    --background-second:rgb(37 58 96);
    --background-solid:white;
    --background-text:white;
    --normalIcon:20px;
    --navWidth:50px;
    --mediaWidth:50px;
}
@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat-VariableFont_wght.ttf");
}
a:focus{
    border: 0px;
}
p, h1,h2,h3{
    font-family: "Montserrat";
    color: var(--background-text);
}
@keyframes iconAnimation {
    from{
        font-size: clac(var(--normalIcon) + 5px);
    }
    to{
        font-size: var(--normalIcon);
    }
}
@keyframes reverseIconAnimation {
    from{
        font-size: var(--normalIcon);
    }
    to{
        font-size: calc(var(--normalIcon) + 5px);
    }
}
html{
    position: relative;
}
body{
    background-color: var(--background);
    margin-left: calc(var(--navWidth) + 50px);
    margin-right: calc(var(--mediaWidth) + 50px);
    margin-top: 0;
}
i{
    @extend %icon;
    margin: 5px;
    font-size: var(--normalIcon);
    height: 25px;
}