@font-face {
    font-family: "ubuntu";
    src: url("./ubuntuFont/Ubuntu-Regular.ttf");
}
*{
    font-family: "ubuntu";
}
:root{
    --left-margin:170px;
}
#scrollbar{
    left: var(--left-margin);
}
.swiper-slide{
    margin-left: calc(var(--left-margin) + 10px);
}
