#slide2{
    .filter{
        background-color: black;
        display: block;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .envelope{
        color: white;
    }
    p{
        font-size: 14px;
    }
}