#slide3{
    .work{
        display: grid;
        grid-template-columns: min-content auto;
        align-items: center;
        i{
            grid-column: 1/2;
            margin: 10px;
            opacity: 0;
        }
        h2{
            grid-column: 2/3;
        }
        div{
            grid-column: 2/3;
            grid-row: 2/3;
            width: 100%;
            display: none;
        }
        a{
            grid-column: 2/3;
            grid-row: 3/4;
            display: none;
        }
    }
    .filter{
        background-color: black;
        display: block;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .envelope{
        color: white;
    }
    p{
        font-size: 14px;
    }
    a{
        font-size: 14px;
    }
    ul{
        list-style: none;
    }
    a:link {
        text-decoration: none;
  }
  
  a:visited {
        text-decoration: none;
  }
  
  a:hover {
        text-decoration: none;
  }
  
  a:active {
        text-decoration: none;
  }
}